@media screen and (max-width:610px) {
    .sec1{
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }
    .city-weather{
        margin-bottom: 3%;
    }
    .footer{
        display: block;
    }
}